body {
margin:0;
background:radial-gradient(black, #000814);
color:white;
font-family:Segoe UI,sans-serif;
}
header
{
text-align:center;
padding:20px;
}
.switch
{
display:flex;
justify-content:center;
gap:20px;
margin-bottom:20px;
}
.switch span
{
padding:10px 30px;
border-radius:30px;
background:#0b1e36;
cursor:pointer;
}
.switch .active
{
background:#1e90ff;
}
.layout
{
width:100%;
border-collapse:collapse;
}
.col
{
vertical-align: top;
padding: 20px;
}
.panel
{
width:30%;
background:rgba(255, 255, 255, 0.05);
border-radius:20px;
}
.center
{
width: 40%;
text-align: center;
}
button {
padding: 14px 40px;
font-size: 16px;
border-radius: 30px;
border: none;
cursor: pointer;
background: #1e90ff;
color: white;
}
video
{
width:100%;
border-radius:15px;
margin-bottom:10px;
}
#overlay
{
position:fixed;
inset:0;
background:rgba(0, 0, 0, 0.85);
display:none;
justify-content:center;
align-items:center;
z-index:9999;
}

#resultBox
{
background:#0b1e36;
padding:30px;
border-radius:20px;
width:400px;
}
#closeResult
{
float: right;
background: none;
border: none;
color: white;
font-size: 20px;
cursor: pointer;
}